@import "tailwindcss";

:root {
  --background: #030713;
  --foreground: #B8B8B8;
  --accent: #FF3737;
  --gray-light: #B8B8B8;
  --gray-dark: #8D8D8D;
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-gray-light: var(--gray-light);
  --color-gray-dark: var(--gray-dark);
  --font-heading: var(--font-poppins);
  --font-body: var(--font-familjen);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-familjen), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins), sans-serif;
}
